table, th, td{
    border: 1px solid black;
    background-color: white;
    padding: 6px;
}

th button{
    height: 100px;
    font-size: 40px;
}



#mainTable{
    width: 600px;
    height: 750px;
    font-size: 30px;
    table-layout: fixed;
}

#subTable{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    
    
}
#subTable td {
    border: none;
}

button{
    border-radius: 3px;
    height: 100%;
    width: 100%;
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B8B8B8 51%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B8B8B8 51%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B8B8B8 51%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B8B8B8 51%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #B8B8B8 51%);
    font-family: calibri;
    color: blue;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}


button:hover {
    border: none;
    background: #A6A6A6;
    

}

