table, td, tr {
    border: 1px solid black;
}
td {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 80px;
    padding: 12px;
}

img {
    width: 200px;
    height: 200px;
    
}